@using MVCForum.Website.Application
@model MVCForum.Website.ViewModels.AiLvHomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = "首页";
    ViewBag.MetaDesc = Html.Settings().MetaDesc;
}
@section side
{
    @*输出侧边区块*@
    @Html.Partial("_CommonSideNav")
}
@*广告窗区*@
<div id="myCarousel" class="carousel sp-slider" data-ride="carousel" data-wrap="true" data-interval="3000">
    <ol class="carousel-indicators">
        @{ int idx2 = 0;}
        @foreach (var ad in Model.AiLv_ADCollectionTop5)
        {
            <li data-target="#myCarousel" data-slide-to="@Html.Raw(idx2.ToString())" class="@if (idx2 == 0) { @Html.Raw("active"); }"></li>
            idx2 = idx2 + 1;
        }
    </ol>
    <div class="carousel-inner">
        @{ int idx = 0;}
        @foreach (var ad in Model.AiLv_ADCollectionTop5)
        {
            <div class="item @if (idx == 0) { @Html.Raw("active"); }">
                <a href="@ad.Link" class="thumbnail" style="height:200px; width:auto">
                    <img src="@Html.Settings().ForumUrl.TrimEnd('/')@ad.ImageSaveURL" alt="AD">
                </a>
            </div>
            idx = idx + 1;
        }
    </div>
</div>

<div class="row documentation-message">
    <div class="col-md-6">
        <div class="panel panel-mvc">
            <div class="panel-heading">最新活动</div>
            <div class="panel-body">
                @if (Model.AiLv_ZuiXinHuoDongTop5 != null && Model.AiLv_ZuiXinHuoDongTop5.Count > 0)
                {
                    <table style="border:none">
                        @foreach (var item in Model.AiLv_ZuiXinHuoDongTop5)
                        {
                            <tr>
                                <td style="padding-left:5px; width:100%;">
                                    <table class="pad">
                                        <tr>
                                            <td valign="top">
                                                <img src="/Content/Images/bar1.jpg" alt="" style="margin-bottom:0px;width:100%;height:80px" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>【@item.MingCheng】</span>,<label class="bg-success">@item.YuGuRenShu 人团</label>
                                                @if (item.LeiBie == MVCForum.Domain.DomainModel.Enum_HuoDongLeiBie.SpecicalRegister)
                                                {
                                                    <label class="glyphicon glyphicon-lock" title="特定人群组团，需要输入邀请码。"></label>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <small>
                                                    ￥@item.Feiyong /人 &nbsp;
                                                    <img src="~/Content/Images/t.jpg" title="发布时间" /> @item.CreatedTime.ToString("MM-dd HH:mm")
                                                </small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <small>
                                                    活动时间： @item.StartTime.ToString("MM-dd HH:mm") ~ @item.StopTime.ToString("MM-dd HH:mm")
                                                </small>
                                            </td>
                                        </tr>
                                        @if (item.XingBieBiLi != "/")
                                        {
                                            <tr>
                                                <td>
                                                    <small>参与人数性别比例：<span>@item.XingBieBiLi</span></small>
                                                </td>
                                            </tr>
                                        }
                                        <tr><td><small>活动地点：<span>@item.DiDian</span></small></td></tr>
                                        <tr><td><small>报名截止至：@item.BaoMingJieZhiTime.ToString("MM-dd HH:mm")</small></td></tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right;">
                                    <a href="@Url.Action("ViewActivity","AiLvHuoDong", new { item.Id })" class="btn btn-mvc">
                                        点击查看
                                    </a>
                                </td>
                            </tr>
                            <tr><td><hr style="height:1px;border:none;border-top:1px dashed #0066CC;" /></td></tr>
                        }
                    </table>
                }
                else
                {
                    <p>
                        暂无活动信息
                    </p>
                }
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-mvc">
            <div class="panel-heading">最新记录</div>
            <div class="panel-body">
                @if (Model.AiLv_ZuiXiJiLuTop5 != null && Model.AiLv_ZuiXiJiLuTop5.Count > 0)
                {
                    <table>
                        @foreach (var JiLu in Model.AiLv_ZuiXiJiLuTop5)
                        {
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                                    <a href="@JiLu.NiceUrl">@JiLu.Name</a>
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <p>
                        暂无活动记录信息
                    </p>
                }
            </div>
        </div>

    </div>

    <div class="col-md-6">
        <div class="panel panel-mvc">
            <div class="panel-heading">每日之星</div>
            <div class="panel-body">
                @if (Model.AiLv_MeiRiZhiXingTop5 != null)
                {
                    <div id="myCarousel2" class="carousel sp-slider" data-ride="carousel" data-wrap="true" data-interval="3000">
                        <ol class="carousel-indicators">
                            @{ int idx_Star2 = 0;}
                            @foreach (var star in Model.AiLv_MeiRiZhiXingTop5)
                            {
                                <li data-target="#myCarousel2" data-slide-to="@Html.Raw(idx_Star2.ToString())" class="@if (idx_Star2 == 0) { @Html.Raw("active"); }"></li>
                                idx_Star2 = idx_Star2 + 1;
                            }
                        </ol>
                        <div class="carousel-inner">
                            @{ int idx_Star = 0;}
                            @foreach (var obj in Model.AiLv_MeiRiZhiXingTop5)
                            {
                                <div class="item @if (idx_Star == 0) { @Html.Raw("active"); }">
                                    <table>
                                        <tr>

                                            <td>
                                                @{
                                                    var Gender = obj.Gender == MVCForum.Domain.DomainModel.Enum_Gender.boy ? "男生" : "女生";
                                                }
                                                <span style="padding-left:40px">@obj.AliasName , @obj.Age 岁，@Gender</span>

                                            </td>
                                            <td>
                                                <a href="@obj.NiceUrl">
                                                    <img src="@AppHelpers.MemberImage(obj.Avatar, "", obj.Id, 48)" alt="@obj.UserName">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                                        idx_Star = idx_Star + 1;
                                                    }
                        </div>
                    </div>
                                                    }
                                                    else
                                                    {
                                                        <p>暂无每日之星数据</p>
                                                    }
            </div>
        </div>

    </div>

    <div class="col-md-6">
        <div class="panel panel-mvc">
            <div class="panel-heading">最新会员</div>
            <div class="panel-body">
                @if (Model.AiLv_ZuiXinHuiYuanTop5 != null && Model.AiLv_ZuiXinHuiYuanTop5.Count > 0)
                {
                    <table>
                        @foreach (var huiyuan in Model.AiLv_ZuiXinHuiYuanTop5)
                        {
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                                    <a href="@huiyuan.NiceUrl">@huiyuan.AliasName</a>
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <p>
                        暂无会员信息
                    </p>
                }
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-mvc">
            <div class="panel-heading">最新服务</div>
            <div class="panel-body">
                @if (Model.AiLv_ZuiXinFuWuTop5 != null && Model.AiLv_ZuiXinFuWuTop5.Count > 0)
                {
                    <table>
                        @foreach (var fuwu in Model.AiLv_ZuiXinFuWuTop5)
                        {
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                                    <a href="@fuwu.NiceUrl">@fuwu.Name</a>
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <p>
                        暂无服务信息
                    </p>
                }

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-mvc">
            <div class="panel-heading">最新资讯</div>
            <div class="panel-body">
                @if (Model.AiLv_ZuiXinZiXunTop5 != null && Model.AiLv_ZuiXinZiXunTop5.Count > 0)
                {
                    <table>
                        @foreach (var zixun in Model.AiLv_ZuiXinZiXunTop5)
                        {
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                                    <a href="@zixun.NiceUrl">@zixun.Name</a>
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <p>
                        暂无资讯信息
                    </p>
                }
            </div>
        </div>
    </div>

</div>