@using MVCForum.Website.Application.ExtensionMethods
@model MVCForum.Website.ViewModels.MemberFrontEndEditViewModel

@{
    Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
    ViewBag.Title = Html.LanguageString("Members.EditProfile");
    var settings = Html.Settings();
}
@section Header
{
    <script type="text/javascript">
        $.ajax({
            url: app_base + 'Badge/ProfileBadgeCheck',
            type: 'POST',
            error: function (xhr, ajaxOptions, thrownError) {
                ShowUserMessage("Error: " + xhr.status + " " + thrownError);
            }
        });
    </script>

}
<div class="row">

    <div class="col-md-6 col-md-offset-1">

        <script type="text/javascript">
            $(document).ready(function () {
                GetByJquery();
                $("#LocationProvince").change(function () { GetLocationCity(); });
                $("#LocationCity").change(function () { GetLocationCountry(); });

                $("#SchoolProvince").change(function () { GetEducationCity(); });
            });

            function GetByJquery() {
                var htprovince = $("#LocationProvince").val();
                $("#LocationProvince").empty();
                $.getJSON("/Members/GetHometownProvince/", function (data) {
                    $.each(data, function (i, item) {
                        if (item["ProvinceId"] == htprovince) {
                            $("<option selected ></option>")
                                     .val(item["ProvinceId"])
                                     .text(item["ProvinceName"])
                                     .appendTo($("#LocationProvince"));
                        }
                        else {
                            $("<option></option>")
                                     .val(item["ProvinceId"])
                                     .text(item["ProvinceName"])
                                     .appendTo($("#LocationProvince"));
                        }

                    });
                    GetLocationCity();
                });

                var htprovince2 = $("#SchoolProvince").val();
                $("#SchoolProvince").empty();
                $.getJSON("/Members/GetHometownProvince/", function (data) {
                    $.each(data, function (i, item) {
                        if (item["ProvinceId"] == htprovince2) {
                            $("<option selected></option>")
                                     .val(item["ProvinceId"])
                                     .text(item["ProvinceName"])
                                     .appendTo($("#SchoolProvince"));
                        }
                        else {
                            $("<option></option>")
                                        .val(item["ProvinceId"])
                                        .text(item["ProvinceName"])
                                        .appendTo($("#SchoolProvince"));
                        }
                    });
                    GetEducationCity();
                });
            }

            function GetEducationCity() {
                var htcity = $("#SchoolCity").val();

                $("#SchoolCity").empty();
                var url = "/Members/GetEducationCity/" + $("#SchoolProvince").val() + "/";
                $.getJSON(url, function (data) {
                    $.each(data, function (i, item) {

                        if (item["CityId"] == htcity) {
                            $("<option selected></option>")
                                     .val(item["CityId"])
                                     .text(item["CityName"])
                                     .appendTo($("#SchoolCity"));
                        }
                        else {
                            $("<option></option>")
                                     .val(item["CityId"])
                                     .text(item["CityName"])
                                     .appendTo($("#SchoolCity"));
                        }
                    });
                });
            }

            function GetLocationCity() {
                var htcity = $("#LocationCity").val();

                $("#LocationCity").empty();
                var url = "/Members/GetHometownCity/" + $("#LocationProvince").val() + "/";
                var a = $(".LocationProvince");

                $.getJSON(url, function (data) {

                    $.each(data, function (i, item) {
                        if (item["CityId"] == htcity) {
                            $("<option selected ></option>")
                                      .val(item["CityId"])
                                      .text(item["CityName"])
                                      .appendTo($("#LocationCity"));
                        }
                        else {
                            $("<option></option>")
                                      .val(item["CityId"])
                                      .text(item["CityName"])
                                      .appendTo($("#LocationCity"));
                        }

                    });
                    GetLocationCountry();
                });
            }

            function GetLocationCountry() {
                var County = $("#LocationCounty").val();

                $("#LocationCounty").empty();
                var url = "/Members/GetHometownCountry/" + $("#LocationProvince").val() + "," + $("#LocationCity").val() + "/";
                $.getJSON(url, function (data) {
                    $.each(data, function (i, item) {

                        if (item["CountryId"] == County) {
                            $("<option selected ></option>")
                                      .val(item["CountryId"])
                                      .text(item["CountryName"])
                                      .appendTo($("#LocationCounty"));
                        }
                        else {
                            $("<option></option>")
                                      .val(item["CountryId"])
                                      .text(item["CountryName"])
                                      .appendTo($("#LocationCounty"));
                        }

                    });
                });
            }
        </script>

        @using (Html.BeginForm("Edit", "Members", FormMethod.Post, new { enctype = "multipart/form-data", @class = "editmemberform" }))
        {
            @Html.HiddenFor(x => Model.Id)

            @Html.ValidationSummary(true)

            <fieldset>
                <legend>@ViewBag.Title</legend>
                <p class="changepasswordtext">
                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                    @Html.Raw(string.Format(Html.LanguageString("Members.ChangePassword.Link"), string.Format("<a href=\"{0}\">{1}</a>", Url.Action("ChangePassword"), Html.LanguageString("Members.ChangePassword.Title"))))
                </p>
                @if (!Model.IsApproved)
                {
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h5 class="panel-title">账号状态提示</h5>
                        </div>
                        <div class="panel-body">
                            @if (!Model.AuditResult)
                            {
                                if (!string.IsNullOrEmpty(Model.AuditComment))
                                {
                                    <span><Font color='red'>当前账号审核被驳回。驳回原因为：Model.AuditComment</Font></span>
                                }
                                else
                                {
                                    <span><Font color='red'>当前账号还在管理员审核阶段，请耐心等候。</Font></span>
                                }
                            }

                        </div>
                    </div>
                }
                <div class="form-group">
                    @Html.LabelFor(x => x.UserName)
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.UserName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.RealName)<span><Font color='red'>(您的姓名不会对其他会员公开)</Font></span>
                    @Html.TextBoxFor(x => x.RealName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.RealName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.AliasName)
                    @Html.TextBoxFor(x => x.AliasName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.AliasName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Gender)
                    @Html.DropDownListFor(x => x.Gender, ViewData["GenderList"] as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Gender)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Birthday)
                    @Html.TextBoxFor(x => x.Birthday, "{0:yyyy-MM-dd}",
                                                      new
                                                      {
                                                          @class = "form-control",
                                                          data_val_date = string.Format("您输入的出生日期必须是一个符合如此格式（2000-01-01）的日期数据")
                                                      })
                    @Html.ValidationMessageFor(x => x.Birthday)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.IsLunarCalendar)
                    @Html.DropDownListFor(m => m.IsLunarCalendar, ViewData["LunarCalendar"] as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.IsLunarCalendar)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.IsMarried)
                    @Html.DropDownListFor(m => m.IsMarried, ViewData["Married"] as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.IsMarried)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Height)
                    @Html.TextBoxFor(x => x.Height, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Height)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Weight)
                    @Html.TextBoxFor(x => x.Weight, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Weight)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Education)
                    @Html.DropDownListFor(x => x.Education, ViewData["EducationList"] as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Education)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.SchoolProvince)
                    @Html.DropDownListFor(x => x.SchoolProvince, ViewData["SchoolProvinceList"] as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.SchoolProvince)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.SchoolCity)
                    @Html.DropDownListFor(x => x.SchoolCity, ViewData["SchoolCityList"] as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.SchoolCity)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.SchoolName)
                    @Html.TextBoxFor(x => x.SchoolName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.SchoolName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.LocationProvince)
                    @Html.DropDownListFor(x => x.LocationProvince, ViewData["HomeTownProvinceList"] as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.LocationProvince)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.LocationCity)
                    @Html.DropDownListFor(x => x.LocationCity, ViewData["HomeTownCityList"] as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.LocationCity)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.LocationCounty)
                    @Html.DropDownListFor(x => x.LocationCounty, ViewData["HomeTownCountyList"] as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.LocationCounty)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.HomeTown)@*<span><Font color='red'>(格式范例：广东省深圳市)</Font></span>*@
                    @Html.TextBoxFor(x => x.HomeTown, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.HomeTown)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Job)
                    @Html.TextBoxFor(x => x.Job, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Job)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.IncomeRange)
                    @Html.DropDownListFor(x => x.IncomeRange, ViewData["IncomeRangeList"] as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.IncomeRange)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Interest)
                    @Html.TextBoxFor(x => x.Interest, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Interest)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.MobilePhone)
                    @Html.TextBoxFor(x => x.MobilePhone, new { @class = "form-control", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.MobilePhone)
                </div>
                <div class="row membereditavatar">

                    <div class="col-md-2">
                        <img src="@AppHelpers.MemberImage(Model.Avatar, "mail@163.com", Model.Id, SiteConstants.Instance.GravatarProfileSize)" alt="@Model.UserName">
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Files)
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-default btn-file">
                                    选择头像： <input type="file" name="files" id="files" value="">
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly="">
                        </div>
                        @Html.ValidationMessageFor(x => x.Files)
                    </div>
                </div>
                @if (settings.EnableSignatures)
                {
                    <div class="form-group">
                        @Html.LabelFor(x => x.Signature)
                        @Html.TextAreaFor(x => x.Signature, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Signature)
                    </div>
                }
                <div class="form-group">
                    @if (Model.IsApproved)
                    {
                        <span><Font color='red'>此账号已审核。</Font></span>
                    }
                    else
                    {
                        @Html.Raw("请注意：为保证交友的严肃性，爱驴网会对您填写的资料进行审核，只有审核通过后才能使用相关功能。工作人员会在8小时内处理完毕。若需紧急处理可以拨打客服电话，谢谢！")
                    }
                </div>
                @if (//User.IsInRole(AppConstants.AdminRoleName) ||
                     User.Identity.Name == Model.UserName)
                {
                    <div class="submit-holder">
                        <button type="submit" class="btn-mvc-green btn-mvc-large">@Html.LanguageString("Buttons.Save")</button>
                    </div>
                }
            </fieldset>
        }

        @if (User.IsInRole(AppConstants.AdminRoleName) && !Model.IsApproved)
        {
            using (Html.BeginForm("Audit", "Members", FormMethod.Post, new { enctype = "multipart/form-data", @class = "editmemberform" }))
            {
                @Html.HiddenFor(x => Model.Id)
                <div class="form-group">
                    @Html.LabelFor(x => x.AuditComment)
                    @Html.DropDownListFor(x => x.AuditComment, ViewData["AuditCommentList"] as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.AuditComment)
                </div>

                <div class="submit-holder">
                    <button type="submit" class="btn-mvc-green btn-mvc-large">保存审核意见</button>
                </div>
            }
        }
    </div>
</div>