@model MVCForum.Website.ViewModels.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
    ViewBag.Title = Html.LanguageString("Members.ForgotPassword.Title");
}
<script src="/Scripts/verifycodeByAccount.js"></script>
<div class="row">

    <div class="col-md-6 col-md-offset-3">

        @using (Html.BeginForm("ForgotPassword", "Members", FormMethod.Post, new { @class = "form-forgotpassword" }))
        {

            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()

            <h3>@ViewBag.Title</h3>

            <div class="form-group">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control"})
                @Html.ValidationMessageFor(m => m.UserName)
                <div>
                    <input class="btn btn-info" type="button" id="getcode" value="点击获取手机验证码" />
                    <span id="telephonenameTip"></span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.VerifyCode)
                @Html.TextBoxFor(m => m.VerifyCode, new { @class="form-control"})
                @Html.ValidationMessageFor(m => m.VerifyCode)
                <span id="codenameTip"></span>
            </div>

            <div class="submit-holder">
                <button type="submit" class="btn-mvc-green btn-mvc-large">@Html.LanguageString("Buttons.ResetPassword")</button>
            </div>

        }

    </div>

</div>
