@using System.Globalization
@using MVCForum.Utilities
@using MVCForum.Domain.DomainModel.General
@using MVCForum.Website.Application.ExtensionMethods

@model MVCForum.Website.ViewModels.ViewMemberViewModel
@{
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = string.Concat(Model.User.UserName, " ", Html.LanguageString("Members.ProfileTitle"));
}

@section Header
{
    @*<script type="text/javascript">
        $(function () {
            $.post(app_base + "Members/GetMemberDiscussions",
                { "Id": '@Model.User.Id' },
                function (data) {
                    $(".memberdiscussions").html(data);
                });
            TimeBadges();
        });
        function TimeBadges() {
            var timeBadgeViewModel = new Object();
            timeBadgeViewModel.Id = '@Model.User.Id';
            var strung = JSON.stringify(timeBadgeViewModel);
            $.ajax({
                url: app_base + 'Badge/Time',
                type: 'POST',
                dataType: 'html',
                data: strung,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    ShowUserMessage("Error: " + xhr.status + " " + thrownError);
                }
            });
        }
    </script>*@
}

@section side
{
    @Html.Partial("_CommonSideNav")
}

<div class="memberprofilepublic">

    <div class="row">

        <div class="col-md-3 memberavatardetails">
            <p class="memberavatar">
                <img src="@Model.User.MemberImage(SiteConstants.Instance.GravatarProfileSize)" alt="@Model.User.UserName">
            </p>
            @if (User.Identity.IsAuthenticated &&
                Model.User.UserName != User.Identity.Name &&
                Html.CurrentMember().DisablePrivateMessages != true &&
                Html.Settings().EnablePrivateMessages)
            {
                <p>
                    <a href="@Url.Action("View", "PrivateMessage", new { from = Model.User.Id }, null)"
                       class="btn-mvc pm-panel"
                       data-name="@string.Concat(Html.LanguageString("PM.Title"), Model.User.UserName)">
                        @Html.LanguageString("Members.MessageMe")
                    </a>
                </p>
            }

            @if (User.Identity.IsAuthenticated && Html.Settings().EnableMemberReporting && Model.User.Id != Model.LoggedOnUserId)
            {
                <p><a href="@Url.Action("Report", "Members", new { id = Model.User.Id }, null)" class="btn-mvc">@Html.LanguageString("Buttons.Report")</a></p>
            }

            @if (Model.Permissions[SiteConstants.Instance.PermissionEditMembers].IsTicked)
            {
                // If this is an admins profile then do not show
                if (!Model.User.Roles.Any(x => x.RoleName.Contains(AppConstants.AdminRoleName)))
                {
                    <div class="memberprofileadminsection">
                        @Html.Partial("AdminMemberProfileTools")
                    </div>
                }
            }
        </div>

        <div class="col-md-9 membermaindetails">
            <div class="membersection memberbio">
                <div class="row">
                    <div class="col-md-12">
                        <h3>@Model.User.UserName</h3>
                    </div>
                    <div class="col-md-6">
                        <p><b>昵称:</b> @Model.User.AliasName</p>
                        <p>
                            @if (User.IsInRole(AppConstants.AdminRoleName))
                            {
                                <b>真实姓名:</b> @Model.User.RealName
                            }
                        </p>
                        <p>
                            @if (User.IsInRole(AppConstants.AdminRoleName))
                            {
                                <b>联系方式：</b>@Model.User.MobilePhone
                            }
                        </p>
                        <p><b>性别:</b> @Html.Raw(Model.User.Gender == MVCForum.Domain.DomainModel.Enum_Gender.boy ? "男生" : "女生")</p>
                        <p><b>年龄:</b> @Html.Raw(Model.User.Age > 0 ? Model.User.Age.ToString() : "")</p>
                        <p><b>婚姻状态:</b> @Html.Raw(Model.User.IsMarried == MVCForum.Domain.DomainModel.Enum_MarriedStatus.Single ? "未婚" : "已婚")</p>
                        <p><b>身高(cm):</b> @Model.User.Height</p>
                        <p><b>体重(kg):</b> @Model.User.Weight</p>
                        <p><b>学历:</b> @Model.User.Education                      
                        @*@Html.ConvertEducationName(Model.User.Education)*@
                        </p>
                        <p><b>毕业院校:</b> @Model.User.SchoolName</p>
                    </div>
                    <div class="col-md-6">
                        <p><b>家乡:</b> @Model.User.HomeTown</p>
                        <p>
                            <b>现居住地:</b> @Html.Raw(TProvince.LoadProvinceByProvincedId(Convert.ToInt32(Model.User.LocationProvince)).ProvinceName),
                            @Html.Raw(TCity.LoadCityByCityId(Convert.ToInt32(Model.User.LocationCity)).CityName),
                            @Html.Raw(TCountry.LoadCountryByCountryId(Convert.ToInt32(Model.User.LocationCounty)).CountryName)
                        </p>
                        <p><b>职业:</b> @Model.User.Job</p>
                        <p><b>月收入:</b> 
                        @Html.ConvertIncomeRange((int)Model.User.IncomeRange);
                        
                        </p>
                        <p><b>账号创建时间:</b> @DatesUI.GetPrettyDate(Model.User.CreateDate.ToString())</p>
                        <p><b>账号状态:</b> @Html.Raw(Model.User.IsApproved ? "已审核" : "待审核")</p>


                        @if (Model.User.LastActivityDate != null)
                        {
                            <p><b>最后上线时间:</b> @DatesUI.GetPrettyDate(Model.User.LastActivityDate.ToString())</p>
                        }

                        <p>
                            @if (User.IsInRole(AppConstants.AdminRoleName))
                            {
                                <b>用户类型:</b> @Model.User.UserType
                            }
                        </p>


                    </div>
                </div>
            </div>

            <div class="membersection memberlatesttopics">
                <h3>@Html.LanguageString("Members.Profile.DiscussionActivity")</h3>
                <div class="memberdiscussions">
                    <span class="ajaxspinner" title="@Html.LanguageString(" Ajax.PleaseWait")">@Html.LanguageString("Ajax.PleaseWait")</span>
                </div>
            </div>


            @*@if (Model.User.Badges != null && Model.User.Badges.Any())
            {
                <div class="membersection badgeactivity">
                    <h3>@Html.LanguageString("Members.Profile.Badges")</h3>
                    @foreach (var badge in Model.User.Badges)
                    {
                        @Html.Partial("_Badge", badge)
                    }
                </div>
            }*@

            @if (User.IsInRole(AppConstants.AdminRoleName))
            {
                <div class="membersection adminpublicomments">
                    @Html.Raw(Model.User.Comment)
                </div>
            }

        </div>

    </div>
</div>
