@using MVCForum.Utilities
@model MVCForum.Website.ViewModels.MemberAddViewModel
@{
    Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
    ViewBag.Title = Html.LanguageString("Members.Register");
}
<script src="/Scripts/verifycode.js"></script>

@if (!User.Identity.IsAuthenticated)
{

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            @Html.Partial("_SocialLoginButtons")
            @if (Html.Settings().DisableStandardRegistration != true)
            {
                <div class="mainregisterform">
                    <h3>@ViewBag.Title</h3>
                    @using (Html.BeginForm("Register", "Members", FormMethod.Post, new { @class = "form-register" }))
                    {
                        @Html.ValidationSummary(true)
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(x => Model.UserName)
                            @Html.TextBoxFor(x => Model.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.UserName)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.RealName)
                            @Html.TextBoxFor(x => x.RealName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.RealName)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.AliasName)
                            @Html.TextBoxFor(x => x.AliasName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.AliasName)
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(x => Model.Password)
                            @Html.PasswordFor(x => Model.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Password)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => Model.ConfirmPassword)
                            @Html.PasswordFor(x => Model.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ConfirmPassword)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.MobilePhone)
                            @Html.TextBoxFor(x => x.MobilePhone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.MobilePhone)
                            <div>
                                <input class="btn btn-info" type="button" id="getcode" value="点击获取手机验证码" />
                                <span id="telephonenameTip"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => Model.VerifyCode)
                            @Html.PasswordFor(x => Model.VerifyCode, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.VerifyCode)
                            <span id="codenameTip"></span>
                        </div>


                        <div class="form-group">
                            @Html.CheckBoxFor(m => m.ReadPolicyFirst)
                            已阅读并同意爱驴网的<a href="http://www.mvcforum.com">服务条款</a>和<a href="http://www.mvcforum.com">隐私政策</a>
                            @Html.ValidationMessageFor(m => m.ReadPolicyFirst)
                        </div>

                        @*if (!string.IsNullOrEmpty(Html.Settings().SpamQuestion))
                        {
                            <div class="form-group">
                                <label for="SpamAnswer">@Html.Settings().SpamQuestion</label>
                                @Html.TextBoxFor(x => x.SpamAnswer, new { @class = "form-control" })
                            </div>
                        }*@

                        <div class="submit-holder">
                            <button type="submit" class="btn-mvc-green btn-mvc-large">
                                @Html.LanguageString("Members.Register")
                            </button>
                        </div>

                        @Html.HiddenFor(x => x.ReturnUrl)
                    }
                </div>
            }
        </div>

    </div>
}
else
{
    <p>@Html.LanguageString("Members.AlreadyRegistered")</p>
}