@*@if (!Context.IsMobileDevice())
    {*@
<script src="@Url.Content("~/scripts/tinymce/tinymce.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/tinymceplugins/ImageUpload/imageupload.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    var flag = false;
    if ("@(ViewBag.EditorReadOnly)" == "readonly") {
        flag = true;
    }

    tinymce.init({
        selector: "textarea.rte",
        setup: function (editor) {
            editor.on('change', function () {
                editor.save();
            });
        },
        theme: "modern",
        language: "zh_CN",
        plugins: [
            "autosave link image lists hr anchor forumimageinsert autoresize paste textcolor save code",
            "visualblocks visualchars nonbreaking"
        ],

        @{
            var expr = "";
            if (ViewBag.HideToolBar == "true")
            {
                expr = "false";
            }
            else
            {
                expr = "bold italic underline |  forecolor |  | backcolor | link unlink image " + (ViewBag.ImageUploadType ?? "image") + " | bullist | removeformat | formatselect fontsizeselect | code ";
            }
        }
        toolbar: "@expr",
        theme_advanced_toolbar_location: "bottom",
        theme_advanced_toolbar_align: "left",
        theme_advanced_resizing: true,
        removeformat: [
           {selector: 'b,strong,em,i,font,u,strike', remove : 'all', split : true, expand : false, block_expand: true, deep : true},
           {selector: 'span', attributes : ['style', 'class'], remove : 'empty', split : true, expand : false, deep : true},
           {selector: '*', attributes : ['style', 'class'], split : false, expand : false, deep : true}
        ],
        remove_linebreaks: false,
        relative_urls: false,
        menubar: false,
        toolbar_items_size: 'small',
        content_css: app_base + "content/tinymce.css",
        paste_auto_cleanup_on_paste: true,
        paste_remove_styles: true,
        paste_remove_styles_if_webkit: true,
        paste_strip_class_attributes: true,
        statusbar: false,
        nonbreaking_force_tab: true,
        readonly: flag,
        
    });

    var buttonTitle = '上传图片';
    var buttonOk = '@(Html.Lang("TinyMCE.InsertImage.ButtonOk"))';
    var buttonClose = '@(Html.Lang("TinyMCE.InsertImage.ButtonClose"))';
    var enterValidUrl = '@(Html.Lang("TinyMCE.InsertImage.EnterValidUrl"))';
    var selectFile = '@(Html.Lang("TinyMCE.InsertImage.SelectFile"))';
    var maxImageFileSize = '图片文件的最大为5M';
    var onlyImages = '@(Html.Lang("TinyMCE.InsertImage.OnlyImages"))';
    var generalError = '@(Html.Lang("Errors.GenericMessage"))';
</script>
@*}*@
<div class="tinymceholder">
    @Html.TextArea(string.Empty, new { @class = "rte" })


</div>
