@if (!Context.IsMobileDevice())
{
    <script src="@Url.Content("~/scripts/tinymce/tinymce.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/tinymceplugins/ImageUpload/imageupload.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var flag=false;
        if ("@(ViewBag.EditorReadOnly)" == "readonly")
        {
            flag=true;
        }

        tinymce.init({
            selector: "textarea.rte",
            theme: "modern",
            language: "zh_CN",
            plugins: [
                "autosave link image lists hr anchor forumimageinsert autoresize paste",
                "wordcount visualblocks visualchars code fullscreen media nonbreaking"
            ],

            toolbar1: "bold italic underline bullist hr | link unlink @(ViewBag.ImageUploadType ?? "image") | formatselect",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_resizing : true,
            remove_linebreaks: false,
            relative_urls: false,
            menubar: false,
            toolbar_items_size: 'small',
            content_css: app_base + "content/tinymce.css",
            paste_auto_cleanup_on_paste: true,
            paste_remove_styles: true,
            paste_remove_styles_if_webkit: true,
            paste_strip_class_attributes: true,

            nonbreaking_force_tab: true,
            readonly: flag,
        });

        var buttonTitle = '@(Html.Lang("TinyMCE.InsertImage.ButtonTitle"))';
        var buttonOk = '@(Html.Lang("TinyMCE.InsertImage.ButtonOk"))';
        var buttonClose = '@(Html.Lang("TinyMCE.InsertImage.ButtonClose"))';
        var enterValidUrl = '@(Html.Lang("TinyMCE.InsertImage.EnterValidUrl"))';
        var selectFile = '@(Html.Lang("TinyMCE.InsertImage.SelectFile"))';
        var maxImageFileSize = '@(Html.Lang("TinyMCE.InsertImage.MaxFileSize"))';
        var onlyImages = '@(Html.Lang("TinyMCE.InsertImage.OnlyImages"))';
        var generalError = '@(Html.Lang("Errors.GenericMessage"))';
    </script>
}
<div class="tinymceholder">
    @Html.TextArea(string.Empty, new { @class = "rte" })


</div>
