@model MVCForum.Website.ViewModels.AiLvZhangHu_ViewModel
@{
    Layout = "~/Views/AiLvHuoDong/AiLvZhangHuLayout.cshtml";
    ViewBag.Title = "我的";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <fieldset>
                <legend>@ViewBag.Title</legend>

                <div class="form-group">
                    <img src="@AppHelpers.MemberImage(Model.User.Avatar, "mail@163.com", Model.User.Id, SiteConstants.Instance.GravatarProfileSize)" alt="@Model.User.UserName">
                    <label style="font-size:24px;padding-left:30px">@Model.User.UserName</label>

                </div>
                <div class="form-group">
                    <img src="~/Content/Images/t4.jpg" title="编辑个人信息" />
                    <a style="margin-left:15px" href="@Url.Action("Edit", "Members", new { id = Model.User.Id })">编辑 @Model.User.UserName</a>
                </div>
                <div class="form-group">
                    <img src="~/Content/Images/t2.jpg" title="相册" />
                    <a style="margin-left:15px" href="@Url.Action("PrivatePictureList", "Members", new { id = Model.User.Id })">相册</a>
                </div>
                <div class="form-group">
                    <img src="~/Content/Images/t3.jpg" title="每日心情" />
                    <a style="margin-left:15px" href="@Url.Action("Edit", "Members", new { id = Model.User.Id })">每日心情</a>
                </div>
                <div class="form-group">
                    <img src="~/Content/Images/t4.png" title="好友列表" />
                    <a style="margin-left:15px" href="@Url.Action("Edit", "Members", new { id = Model.User.Id })">好友列表</a>
                </div>
                <div class="form-group">
                    <img src="~/Content/Images/t5.png" title="好友动态" />
                    <a style="margin-left:15px" href="@Url.Action("Edit", "Members", new { id = Model.User.Id })">好友动态</a>
                </div>
                <div class="form-group">
                    <img src="~/Content/Images/t6.jpg" title="私信" />
                    <a style="margin-left:15px" href="@Url.Action("View", "PrivateMessage", new { id = Model.User.Id })">私信</a>
                </div>
            </fieldset>
        </div>
    </div>
</div>


