@using MVCForum.Website.Application
@using MVCForum.Domain.DomainModel.General
@model MVCForum.Website.ViewModels.MeiRiZhiXing_ListViewModel

@{
    Layout = "~/Views/AiLvHuoDong/MeiRiZhiXingLayout.cshtml";
    ViewBag.Title = "每日之星";
}

@*@section side
    {
        @Html.Partial("_CommonSideNav")
    }*@

<div class="meirizhixing">
    <h1>每日之星</h1>

    @if (Model.MeiRiZhiXingUserList != null && Model.MeiRiZhiXingUserList.Count > 0)
    {
        foreach (var obj in Model.MeiRiZhiXingUserList)
        {
           <table style="width:100%">
                <tr>
                    <td>
                        <a href="@obj.NiceUrl">
                            <img src="@AppHelpers.MemberImage(obj.Avatar, "", obj.Id, 96)" alt="@obj.UserName">
                        </a>
                    </td>
                    <td style="padding-left:5px;width:100%">
                        @{
                            var Gender = obj.Gender == MVCForum.Domain.DomainModel.Enum_Gender.boy ? "帅哥" : "美女";
                            var location = obj.LocationProvince + "," + obj.LocationCity;
                            var GenderColor = Gender == "帅哥" ? "#39f" : "#FFB6C1";
                        }

                        <a href="@obj.NiceUrl">
                            @obj.AliasName
                        </a>

                        <div>
                            <span style="display: inline-block;  font-size:8pt; background-color: gray; border-radius: 2px;   color: #fff;padding: 0px 2px 0px 4px;">@{var age = obj.Age > 100 ? "" : obj.Age.ToString() + "岁";} @age </span>
                            <span style="display: inline-block;  font-size:8pt; background-color: @GenderColor; border-radius: 2px;   color: #fff;padding: 0px 2px 0px 4px;">@Gender</span>
                        </div>
                        <div>
                            <span style="display: inline-block;  font-size:8pt; background-color: #FA8072; border-radius: 2px;   color: #fff;padding: 0px 2px 0px 4px;">@location</span>
                        </div>
                        <div>
                            @{
                                var educationstr = "";
                                {
                                    if (!string.IsNullOrEmpty(@obj.Education))
                                    {
                                        educationstr = TEducation.LoadEducationByEducationId(@obj.Education).EducationName;
                                    }
                                }
                            }
                            <span style="display: inline-block;  font-size:8pt; background-color: #00CD66; border-radius: 2px;   color: #fff;padding: 0px 2px 0px 4px;">学历：@educationstr</span>
                        </div>

                    </td>
                </tr>
            </table>
                                    }
                                }
</div>
