@using MVCForum.Website.Application
@model MVCForum.Website.ViewModels.AiLvHuoDong_ListViewModel
@{
    Layout = "~/Views/AiLvHuoDong/ZuiXinHuoDongLayout.cshtml";
    ViewBag.Title = "最新活动";
}

<div class="panel" style="padding-top:2px"><div class="panel-heading">
    <h2>@ViewBag.Title</h2>
</div>
    <div class="col-md-12">
       
        <div class="panel-content">
            <table style="border:none" width="100%">
                @foreach (var item in Model.AiLvHuoDongList)
                {
                    <tr>
                        <td style="padding-left:5px; width:100%;">
                            <table class="pad" width="100%">
                                <tr>
                                    <td valign="top">
                                        <a href="@Url.Action("ViewActivity","AiLvHuoDong", new { item.Id })">
                                            <img src="/Content/Images/bar1.jpg" alt="" style="margin-bottom:0px;width:100%;height:80px" />
                                        </a>
</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>【@item.MingCheng】</span>,<label class="bg-success">@item.YuGuRenShu 人团</label>
                                        @if (item.LeiBie == MVCForum.Domain.DomainModel.Enum_HuoDongLeiBie.SpecicalRegister)
                                        {
                                            <label class="glyphicon glyphicon-lock" title="特定人群组团，需要输入邀请码。"></label>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <small>
                                            @{
                                                var FeiYongStr = "";
                                                if (item.Feiyong == 0)
                                                {
                                                    FeiYongStr = "￥免费";
                                                }
                                                else
                                                {
                                                    FeiYongStr = "￥" + item.Feiyong.ToString() + " /人";
                                                }
                                            }
                                            活动费用： @FeiYongStr &nbsp;
                                            @*发布时间: @item.CreatedTime.ToString("MM-dd HH:mm")*@
                                        </small>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <small>
                                            活动时间： @item.StartTime.ToString("MM-dd HH:mm") ~ @item.StopTime.ToString("MM-dd HH:mm")
                                        </small>
                                    </td>
                                </tr>
                                @if (item.XingBieBiLi != "/")
                                {
                                    <tr>
                                        <td>
                                            <small>参与人数性别比例：<span>@item.XingBieBiLi</span></small>
                                        </td>
                                    </tr>
                                }
                                <tr><td><small>活动地点：<span>@item.DiDian</span></small></td></tr>
                                <tr>
                                    <td>
                                        <small>
                                            @{
                                                var zhuangtaistr = "";
                                                switch (item.ZhuangTai)
                                                {
                                                    case MVCForum.Domain.DomainModel.Enum_HuoDongZhuangTai.Registing:
                                                        zhuangtaistr = "活动报名中";
                                                        break;
                                                    case MVCForum.Domain.DomainModel.Enum_HuoDongZhuangTai.StopRegister:
                                                        zhuangtaistr = "停止报名";
                                                        break;
                                                    case MVCForum.Domain.DomainModel.Enum_HuoDongZhuangTai.Finished:
                                                        zhuangtaistr = "活动已结束";
                                                        break;
                                                    default:
                                                        break;
                                                }
                                            }
                                            活动状态：@zhuangtaistr
                                        </small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <small>
                                            报名截止至：@item.BaoMingJieZhiTime.ToString("MM-dd HH:mm")
                                            @{
                                                var Timelimit = "";
                                                if (item.BaoMingJieZhiTime > DateTime.Now)
                                                {
                                                    var ts = item.BaoMingJieZhiTime.Subtract(DateTime.Now);
                                                    Timelimit = "还剩：" + ts.Days.ToString() + "天" + ts.Hours.ToString() + "小时" + ts.Minutes.ToString() + "分钟";
                                                }
                                            }
                                            @Timelimit
                                        </small>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">
                            <a href="@Url.Action("ViewActivity","AiLvHuoDong", new { item.Id })" class="btn btn-mvc">
                                点击查看
                            </a>
                        </td>

                    </tr>
                    <tr><td><hr style="height:1px;border:none;border-top:1px dashed #0066CC;" /></td></tr>
                }
            </table>
        </div>
    </div>
</div>
