@{
    Random random = new Random();
}


@if (ViewBag.Customers != null)
{
    foreach (var cust in (ViewBag.Customers as Dictionary<int, MVCForum.Domain.DomainModel.MembershipUser>))
    {
        MVCForum.Domain.DomainModel.MembershipUser obj = cust.Value;
        <li class="list-group-item">
            <div class="col-xs-3 col-sm-2 col-md-2  col-lg-1">
                <img src="@AppHelpers.MemberImage(obj.Avatar, "", obj.Id, 48)" alt="@obj.UserName">
                @*<img src="http://api.randomuser.me/portraits/men/@(random.Next(99)).jpg" alt="@obj.Id" class="img-responsive img-circle">*@
            </div>
            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-11">
                <a href="@obj.NiceUrl">@obj.AliasName</a>
                @{
                    var approveFlag = obj.IsApproved ? "(已审核)" : "(待审核)";
                }
                <span style="color:red">@approveFlag</span>
                <br />
                <span class="text-muted">
                    @{
                        var Gender = "";
                        if (obj.Gender == MVCForum.Domain.DomainModel.Enum_Gender.boy)
                        {
                            Gender = "男";
                        }
                        else
                        {
                            Gender = "女";
                        }
                    }
                    @Gender
                </span>

                <span class="text-muted">
                    &nbsp;  &nbsp;  @obj.Age 岁
                </span>

                <span class="text-muted">
                    @{
                        var IsMarried = "";
                        if (obj.IsMarried == MVCForum.Domain.DomainModel.Enum_MarriedStatus.Married)
                        {
                            IsMarried = "已婚";
                        }
                        else
                        {
                            IsMarried = "未婚";
                        }
                    }
                    &nbsp;  &nbsp; @IsMarried
                </span>

                <br />
            </div>
            <div class="clearfix"></div>
        </li>
                            }
                        }
